config.stopBubbling = true
lombok.nonNull.exceptionType = IllegalArgumentException
lombok.addNullAnnotations = findbugs
lombok.val.flagUsage = error
lombok.cleanup.flagUsage = error
lombok.helper.flagUsage = error
lombok.addLombokGeneratedAnnotation = false
lombok.extern.findbugs.addSuppressFBWarnings = true
lombok.fieldDefaults.defaultPrivate = false
lombok.fieldDefaults.defaultFinal = false